Django==1.9.5
Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.10.1
docopt==0.4.0
google-api-python-client==1.4.0
google-distance-matrix==0.1.8
googlemaps==2.2
httplib2==0.9
itsdangerous==0.24
mandrill==1.0.57
oauth2client==1.4.7
pyasn1==0.1.7
pyasn1-modules==0.0.5
python-google-places==0.12.1
requests==2.6.0
rsa==3.1.4
simplejson==3.6.5
six==1.9.0
uritemplate==0.6
virtualenv==15.0.1
virtualenvwrapper-win==1.2.1
dj_database_url==0.4.1
whitenoise==3.0
gunicorn==19.4.5
psycopg2==2.6.1
