.ng-hide {
  display: none;
}
h1,
h2 {
  text-align: center;
}
h1 img {
  width: 100px;
}
header {
  border-bottom: 3px solid #555555;
  margin-bottom: 40px;
}
@media screen and (min-width: 640px) {
  h1,
  h2 {
    text-align: left;
  }
}
#homepage .row.buttons {
  text-align: center;
}
#homepage .row.buttons a {
  width: 200px;
}
#doctor-dashboard .input-group.filter {
  margin-bottom: 20px;
}
#patient-dashboard .menu .row {
  text-align: center;
  margin-bottom: 10px;
}
#patient-dashboard .menu .row a {
  width: 200px;
}
#manage-doctor-access #add-doctor {
  margin-bottom: 20px;
}
#medical-history .tags span {
  font-style: italic;
}
