@main-red: #ef5b58;

@header-bottom-margin: 0px;
@header-height: 200px;

#top-bar {
	background: @main-red;
	height: @header-height;
	margin-bottom: @header-bottom-margin;
	#logo-wrapper {
		height: @header-height;
		background: #ffffff;
	}
	#logo {
		height: @header-height;
		width: @header-height;
		margin: 0 auto;
		display: block;
		position: relative;
		top: @header-bottom-margin;
	}
}