{% extends "base.html" %}
{% load static from staticfiles %}

{% block htmlline %}
<html lang="en" ng-app="rotgApp">
{% endblock %}

{% block content %}

<body id="login" ng-controller="LoginController">
    <ol class="breadcrumb">
        <li><a href="./index.html">Home</a></li>
        <li class="active">Login</li>
    </ol>
    <div class="container">
        <h1>Login</h1>
        <form>
            <div class="row">
                <div class="form-group col-sm-12 col-md-6">
                    <label for="username">Username:</label>
                    <input class="form-control" id="username" ng-model="username" placeholder="test: patient or doctor">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12 col-md-6">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" >
                </div>
            </div>
	    <a ng-href="{% verbatim %}./{{username}}_dashboard.html{% endverbatim %}" class="btn btn-default">Login</a>
        </form>
    </div>
</body>
{% endblock %}
