<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Record On The Go</title>
    <link rel="stylesheet" href="./css/main.css">
</head>

<body id="patient-dashboard">
<ol class="breadcrumb">
        <li><a href="./index.html">Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
    <div class="container">
        <h1>Patient Dashboard</h1>
        <div class="menu">
            <div class="row">
                <a class="btn btn-primary" href="./manage_doctor_access.html" role="button">Manage Doctor Access</a>
            </div>
            <div class="row">
                <a class="btn btn-primary" href="./medications.html" role="button">Medications</a>
            </div>
            <div class="row">
                <a class="btn btn-primary" href="./medical_history.html" role="button">Medical History</a>
            </div>
        </div>
    </div>
</body>

</html>
<html>
