<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en" ng-app="rotgApp">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Record On The Go</title>
    <link rel="stylesheet" href="./css/main.css">
</head>

<body id="registration" ng-controller="RegistrationController">
    <ol class="breadcrumb">
        <li><a href="./index.html">Home</a></li>
        <li class="active">Registration</li>
    </ol>
    <div class="container">
        <h1>Registration</h1>
        <form>
            <div class="row">
                <div class="form-group col-sm-12 col-md-6">
                    <label for="username">Username:</label>
                    <input class="form-control" id="username" placeholder="Username">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12 col-md-3">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <div class="form-group col-sm-12 col-md-3">
                    <label for="retype-password">Retype Password</label>
                    <input type="password" class="form-control" id="retype-password" placeholder="Password">
                </div>
            </div>
            <div class="row">
                <div class="radio col-sm-12 col-md-6">
                    <label>
                        <input type="radio" name="usertype" id="patient-option" value="patient" ng-model="usertype"> Patient
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="radio col-sm-12 col-md-6">
                    <label>
                        <input type="radio" name="usertype" id="doctor-option" value="doctor" ng-model="usertype"> Doctor
                    </label>
                </div>
            </div>
            <div class="row ng-hide" ng-show="usertype == 'doctor'">
                <div class="form-group col-sm-12 col-md-3">
                    <label for="doctor-password">Doctor Registration Password</label>
                    <input type="password" class="form-control" id="doctor-password" placeholder="Doctor Registration Code">
                </div>
            </div>
            <a ng-href="{{usertype == 'doctor' ? './doctor_dashboard.html' : './patient_dashboard.html'}}" class="btn btn-default">Register</a>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/angular.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>
<html>
